#wpwrap {
    height: 100%;
}

#wpbody {
    height: 100%;
}

#wpbody-content {
    height: 90%;
}

.vaadin-html {
	height: 100%;
}

.vaadin-body {
	height: 100%;
}

.vaadin-off-canvas-wrapper {
	height: 100%;
}

.vaadin-off-canvas-content {
	height: 100%;
}

.vaadin-content {
	height: 100%;
	width: 99%
}

.vaadin-inner-content {
	height: 100%;
}

.vaadin-main {
	height: 100%;
}