/* line 1, ../scss/vaadin.scss */
#wpwrap {
  height: 100%;
}

/* line 5, ../scss/vaadin.scss */
#wpbody {
  height: 100%;
}

/* line 9, ../scss/vaadin.scss */
#wpbody-content {
  height: 90%;
}

/* line 13, ../scss/vaadin.scss */
.vaadin-html {
  height: 100%;
}

/* line 17, ../scss/vaadin.scss */
.vaadin-body {
  height: 100%;
}

/* line 21, ../scss/vaadin.scss */
.vaadin-off-canvas-wrapper {
  height: 100%;
}

/* line 25, ../scss/vaadin.scss */
.vaadin-off-canvas-content {
  height: 100%;
}

/* line 29, ../scss/vaadin.scss */
.vaadin-content {
  height: 100%;
  width: 99%;
}

/* line 34, ../scss/vaadin.scss */
.vaadin-inner-content {
  height: 100%;
}

/* line 38, ../scss/vaadin.scss */
.vaadin-main {
  height: 100%;
}
